.billing-change-help-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-bottom: 32px;
  margin-top: 1rem;
}

.billing-change-help-icon {
  background-color: black;
  width: 50px;
}

.billing-change-help-msg {
  background-color: skyblue;
  height: 100%;
  line-height: 60px;
  padding: 0 32px;
  width: 100%;
}

.billing-edition-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #bfc4c7;
}

.billing-edition-container > div {
  width: 33%;
  flex: 0 0 auto;
  position: relative;
  margin-right: 24px;
}

.billing-edition::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #e4ecf1;
}
.billing-edition:nth-child(3):before {
  border-right: 0;
}
.billing-edition-data {
  font-size: 32px;
  font-weight: bold;
}

.billing-edition-title {
  font-weight: 600;
  font-size: 16px;
}

.billing-edition-subtitle {
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.billing-info {
  margin-right: 0 !important;
}
.billing-info-container {
  display: flex;
  flex-direction: row;
}

.billing-info-container > div:first-child {
  width: 100%;
  flex: 0 0 auto;
  padding: 8px 12px 8px 0;
}
.billing-info-container > div:last-child {
  padding-right: 0;
}

.billing-info-card {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px;
  color: white;
  background-color: #405665;
}

.billing-info-contents-list {
  margin: 0 auto;
  text-align: center;
  height: 45px;
  letter-spacing: -0.5px;
  /* border-bottom: 0.5px solid rgba(128, 128, 128, 0.5); */
  display: flex;
  width: 50%;
  float: left;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: #f1f5f8;
  border-left: 0.5px solid rgba(128, 128, 128, 0.5);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
}
.billing-info-contents-list:nth-child(2n-1) {
  border-right: 0.5px solid rgba(128, 128, 128, 0.5);
}
.billing-change-container h2 {
  margin-bottom: 1rem;
}
.billing-change-item {
  display: flex;
  padding: 22px 0;
  align-items: center;
  border-top: 0.5px solid rgba(128, 128, 128, 0.5);
  /* background: rgba(238, 238, 238, 0.5); */
}

.billing-change-item:last-child {
  padding-left: 200px;
  display: block;
  border: 0;
}

.billing-change-item button {
  margin-top: -1rem !important;
}
.billing-change-container select {
  margin-bottom: 0;
}

.billing-change-form-label {
  text-align: right;
  padding-right: 28px;
  width: 200px;
  font-weight: 500;
  font-size: 14px;
}

.billing-change-form-select {
  width: 400px;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  height: 42px;
}

.billing-change-form-select:hover,
.billing-change-form-select:focus {
  border-color: #0b69e5;
}

.billing-change-form-select:focus {
  border: 2px solid #0b69e5;
}
.billing-change-item button {
  margin-top: 1rem;
  color: #fff !important;
}

.pay-CustomConfirm {
  display: flex;
  flex-direction: column;
}
.pay-CustomConfirm .custom-modal-content-container {
  display: flex;
  flex-direction: column !important;
  overflow-x: hidden;
}

.custom-modal-content-container {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.Cancel-subscription {
  background: #000;
  border: 1px solid #000;
}

.billing-info-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 0;
  margin-bottom: 0;
}

.Payment-History-table h2 {
  margin-bottom: 1rem;
}

.billing-info h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 209, 52);
}
.billing-info h6 {
  font-size: 1rem;
  font-weight: bold;
}
.billing-info button {
  background: #000;
  padding: 0.1rem 0.8rem;
  border: 1.3px solid #000;
  border-radius: 4px;
  font-size: 0.7rem;
  color: #fff;
}
.billing-info button:hover:not(:disabled) {
  background: #256e8b;
  border: 1.3px solid #256e8b;
  cursor: pointer;
  color: #fff;
}
.billing-info button:disabled {
  background: #e9e9e9;
  color: rgb(102, 102, 102);
}
.billing-edition-user-count {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 !important;
}
.billing-edition .billing-edition-top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  position: relative;
}
.billing-edition .billing-edition-top-box label {
  margin-right: 10px;
  color: #00a9ec;
  font-weight: bold;
}
.billing-edition .billing-edition-top-box .progress-bar {
  width: 60%;
  background-color: rgb(233, 233, 233);
  border-radius: 30px;
  height: 15px;
  position: relative;
}
.billing-edition-users {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.progress-bar-front {
  position: absolute;
  width: 30%;
  z-index: 2;
  height: 15px;
  transition: width 0.5s ease-out;
  border-radius: 30px;
}
.progress-bar-back {
  position: absolute;
  width: 100%;
  height: 20px;
}

.see-policy {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5px;
}

.sub-checkbox {
  margin-left: 6px;
}

.inner-check-line {
  width: 10px;
  height: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}
.billing-modal {
  display: flex;
  align-items: flex-start !important;
}
.billing-modal p {
  text-align: left;
}
