.brand {
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  position: relative;
  user-select: none;
}
.brand p {
  width: 100%;
  margin: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
}
.brand img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-top: 5px;
}
