.brand {
  min-width: 15rem;
  max-width: 15rem;
  height: 100%;
  background-color: #62bbff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  /* background: skyblue; */
}
.brand p {
  width: 100%;
  margin: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13px;
}
.brand img {
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-top: 5px;
}
