.header-contents {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: calc(100% - 240px);
  padding: 0 36px;
  height: 80px;
}

.header-contents-route-title {
  align-self: center;
  font-size: 26px;
  font-weight: bold;
}

.header-contents-button-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-contents-button-box button {
  height: 50px;
  width: 100px;
  margin-right: 25px;
  padding: 0;
  color: #fff;
}
.header-contents-button-box p {
  height: 50px;
  margin: 0;
  line-height: 50px;
  margin-right: 1rem;
}
.header-contents-button-box p b {
  text-decoration: underline;
  color: #00a9ec;
}
