.header-contents {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: calc(100% - 240px);
    padding: 0 36px;
    height: 80px;
}

.header-contents-route-title {
    align-self: center;
    font-size: 26px;
    font-weight: bold;
}