.header-contents {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: calc(100% - 280px);
  padding: 0 36px;
  height: 100%;
}

.header-contents-route-title {
  align-self: center;
  font-size: 26px;
  font-weight: bold;
}

.header-contents-button-box {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-contents-button-box button {
  height: 50px;
  width: 8rem;
  margin-right: 25px;
  padding: 0;
  color: #fff;
}
.header-contents-button-box > div {
  height: 50px;
  margin: 0;
  line-height: 50px;
  margin-right: 1rem;
}
.header-contents-button-box > div b {
  text-decoration: underline;
  color: #00a9ec;
}

.profile-container {
  cursor: pointer;
  position: relative;
}

.profile-sub-container {
  display: none;
  position: absolute;
  top: 2.7rem;
  left: 0;
  width: 100%;
  min-width: 100px;
  background-color: white;
  margin-top: 12px;
  box-shadow: 0 2px 2px 0 #ccc;
  border: 3px solid #01395a5b;
}

.profile-sub-container.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.profile-sub-container > div {
  text-align: center;
}

/* .profile-sub-container > div:nth-child(1) {
  border-bottom: 1px solid gray;
} */
