.header-contents-locale-container {
  display: flex;
  align-self: center;
  height: 30px;
  padding: 10px;
  user-select: none;
  width: 100px;
}

.header-contents-locale-icon {
  width: 15px;
  height: 15px;
  align-self: center;
}

.header-contents-locale-text {
  align-self: center;
  margin-left: 7px;
}
