.DashboardBox {
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

.DashboardFirst {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(221, 221, 221); */
  padding: 2rem;
  background: rgba(235, 235, 235, 0.303);
}

.DashboardFirst ul {
  display: flex;
  width: 100%;
  flex: 1;
  margin: 0;
  flex-direction: row;
}

.DashboardFirst .plan-info-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.DashboardFirst .plan-info-box table {
  justify-content: space-evenly;
}
.DashboardFirst .plan-info-box table tr:hover {
  background: none;
}
.DashboardFirst .plan-info-box li div {
  display: flex;
  flex: 1;
  flex-direction: row;
  /* border: 1px solid red; */
}
.DashboardFirst .plan-info-box li div:first-child {
  display: flex;
  flex-direction: column;
}
.DashboardFirst .plan-info-box li h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 209, 52);
}
.DashboardFirst .plan-info-box li h6 {
  font-size: 1rem;
  font-weight: bold;
}
.DashboardFirst .plan-info-box li h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5rem;
}
.DashboardFirst ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.DashboardFirst ul li .countBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.DashboardFirst ul li .countBox div {
  flex: 1;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  display: flex;
  height: 200px;
  text-align: center;
  margin-left: 2rem;
  background: #fff;
}
.DashboardFirst ul li .countBox div h6 {
  /* font-weight: bold; */
  font-size: 1.2rem;
  color: rgb(48, 48, 48);
}
.DashboardFirst ul li .countBox div .countBox-icon {
  color: rgb(111, 186, 216);
}
.DashboardFirst ul li .countBox div p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.DashboardFirst ul li .countBox div:first-child {
  margin: 0;
  color: rgb(111, 186, 216);
  /* background: rgba(111, 186, 216, 0.055); */
  /* border: 1.5px solid rgb(111, 186, 216); */
}

.DashboardFirst ul li .countBox div:nth-child(2) {
  color: rgb(111, 169, 216);
  /* background: rgb(111, 169, 216, 0.055); */
  /* border: 2px solid rgb(111, 169, 216); */
}
.DashboardFirst ul li .countBox div:nth-child(3) {
  color: rgb(111, 216, 190);
  /* background: rgba(111, 216, 190, 0.055); */
  /* border: 2px solid rgb(111, 216, 190); */
}
.DashboardFirst ul li .countBox div:nth-child(4) {
  color: rgb(111, 139, 216);
  /* background: rgb(111, 139, 216, 0.055); */
  /* border: 2px solid rgb(111, 139, 216); */
}
/* 
.DashboardFirst ul {
  display: flex;
  flex: 1;
  width: 100%;
  height: 300px;
  background: #ecf7fd;
}
.DashboardFirst ul:nth-child(2) {
  flex: 1.5;
  margin-left: 2rem;
}
.DashboardFirst h5 {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(2, 173, 45);
}
.DashboardFirst ul li {
  margin: 2rem;
  height: auto;
  width: 100%;
}
.DashboardFirst ul:nth-child(2) li {
  display: flex;
  flex-direction: column;
}
.DashboardFirst ul:nth-child(2) li div {
  display: flex;
}
.DashboardFirst .countBox {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.DashboardFirst .countBox div {
  display: flex;
  width: 100%;
  height: auto;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: center;
}
.DashboardFirst .countBox h6 {
  font-size: 1rem;
}
.DashboardFirst .countBox p {
  font-size: 2rem !important;
  text-align: left;
  margin-bottom: 0;
}
.DashboardFirst h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: -0.3rem;
}
.DashboardFirst h6 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
}
.DashboardFirst table {
  margin-top: 2rem;
}
.DashboardFirst table td {
  cursor: auto;
}
.DashboardFirst table tbody tr:hover {
  background: none !important;
}
.DashboardFirst table tr {
  border-top: 1px solid rgb(180, 180, 180);
}
.DashboardFirst table tr td:nth-child(1) {
  border-right: 1px solid rgb(180, 180, 180);
} */

.DashboardSecond {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
.DashboardSecond .chart {
  width: 100%;
  height: 600px;
  background: rgba(236, 236, 236, 0.3);
}

.chart text {
  max-height: 16px !important;
}

.DashboardThird {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.DashboardThird table {
  width: 100%;
  height: auto;
  justify-content: right;
}
.DashboardBox .DashboardTitle {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.custom-tooltip-container {
  /* background-color: black;
  color: white; */
  width: 200px;
  text-align: center;
}

.custom-tooltip-container {
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.918);
  border: 1px solid rgb(180, 180, 180);
}
.custom-tooltip-title {
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 5px;
  /* font-weight: bold; */
}
.custom-tooltip-item {
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}
