.contents-container {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 64px;
}

.DashboardBox {
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

.DashboardFirst {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.DashboardFirst ul {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
}
.DashboardFirst ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.DashboardFirst ul li .countBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.DashboardFirst ul li .countBox div {
  flex: 1;
  background: lemonchiffon;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  display: flex;
  height: 200px;
  text-align: center;
  margin-left: 1.5rem;
}
.DashboardFirst ul li .countBox div p {
  width: 100%;
}
.DashboardFirst ul li .countBox div:first-child {
  margin: 0;
}
/* 
.DashboardFirst ul {
  display: flex;
  flex: 1;
  width: 100%;
  height: 300px;
  background: #ecf7fd;
}
.DashboardFirst ul:nth-child(2) {
  flex: 1.5;
  margin-left: 2rem;
}
.DashboardFirst h5 {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(2, 173, 45);
}
.DashboardFirst ul li {
  margin: 2rem;
  height: auto;
  width: 100%;
}
.DashboardFirst ul:nth-child(2) li {
  display: flex;
  flex-direction: column;
}
.DashboardFirst ul:nth-child(2) li div {
  display: flex;
}
.DashboardFirst .countBox {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.DashboardFirst .countBox div {
  display: flex;
  width: 100%;
  height: auto;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: center;
}
.DashboardFirst .countBox h6 {
  font-size: 1rem;
}
.DashboardFirst .countBox p {
  font-size: 2rem !important;
  text-align: left;
  margin-bottom: 0;
}
.DashboardFirst h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: -0.3rem;
}
.DashboardFirst h6 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1rem;
}
.DashboardFirst table {
  margin-top: 2rem;
}
.DashboardFirst table td {
  cursor: auto;
}
.DashboardFirst table tbody tr:hover {
  background: none !important;
}
.DashboardFirst table tr {
  border-top: 1px solid rgb(180, 180, 180);
}
.DashboardFirst table tr td:nth-child(1) {
  border-right: 1px solid rgb(180, 180, 180);
} */

.DashboardSecond {
  width: 100%;
  height: 700px;
  margin-top: 6rem;
}
.DashboardSecond .chart {
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.3);
}

.chart text {
  max-height: 16px !important;
}

.DashboardThird {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
}
.DashboardThird table {
  width: 100%;
  height: auto;
  justify-content: right;
}
.DashboardBox .DashboardTitle {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.custom-tooltip-container {
  /* background-color: black;
  color: white; */
  width: 200px;
  text-align: center;
}

.custom-tooltip-container {
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.918);
  border: 1px solid rgb(180, 180, 180);
}
.custom-tooltip-title {
  border: 1px solid rgb(180, 180, 180);
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 5px;
  /* font-weight: bold; */
}
.custom-tooltip-item {
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}
/* .custom-tooltip-title {
  width: 100% !important;
  height: 50px !important;
  background: #fff !important;
}
.legend {
  background: chartreuse !important;
} */
