.contents {
  background-color: #eeeeee;
  position: relative;
  width: calc(100% - 280px);
  height: calc(100vh - 140px);
  overflow: auto;
  left: 280px;
  top: 70px;
}

.contents-inner {
  padding: 16px;
  padding-bottom: 36px;
}

.contents-container-title {
  margin-top: 0;
  margin-bottom: 2rem;
}

.contents-container {
  background-color: white;
  animation: fadeIn 0.5s;
  margin: 0 auto;
  width: 80rem;
  padding: 3rem 4rem;
}

.contents-container {
  position: relative;
}