.contents {
  background-color: #eeeeee;
  position: relative;
  width: calc(100% - 280px);
  height: calc(100vh - 140px);
  overflow: auto;
  left: 280px;
  top: 80px;
}

.contents-inner {
  padding: 16px;
}

.contents-container {
  background-color: white;
}

.contents-container-title {
  margin-top: 0;
  margin-bottom: 2rem;
}
