section {
    border-bottom: none;
    padding: 0;
    display: flex;
}

.flex-card-container {
    height: 250px;
}

.flex-card-container > div {
    width: 25%;
}

.flex-card-container > div:first-child {
    margin-left: 0;
}

.flex-card-container > div:last-child {
    margin-right: 0;
}

.chart-container {
    padding: 12px;
}

.chart-container.first {
    width: 50%;
    padding-left: 0;
}

.chart-container.second {
    width: 50%;
    padding-right: 0;
}

.chart-container.third {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.chart-container > div {
    padding: 12px 24px;
}


.chart-container-1, .chart-container-2, .chart-container-3 {
    height: 500px;
    background-color: white;
}

.chart-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    height: 10%;
}

.chart-content {
    height: 90%;
}