section.dashboard {
  border-bottom: none;
  padding: 0;
  display: flex;
}

.flex-card-container {
  height: 250px;
}

.flex-card-container > div {
  width: 25%;
}

.flex-card-container > div:first-child {
  margin-left: 0;
}

.flex-card-container > div:last-child {
  margin-right: 0;
}

.chart-container {
  background-color: white;
  padding: 12px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 500px;
}

.chart-container > div {
  padding: 12px 24px;
  height: 100%;
}

.chart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  height: 10%;
}

.chart-content {
  width: 100%;
  height: 90%;
}
