.menu-item {
  height: 60px;
  padding: 0 0rem 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 19px;
}

.close > .menu-item {
  display: none;
}

.menu-item-arrow {
  height: 15px;
}

.menu-item.selected {
  color: #00b6ec;
}
