.sidebar {
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  background-color: #2f445a;
  position: fixed;
  z-index: 5;
}

.back-to-homepage {
  cursor: pointer;
  background-color: #62bbff;
  border-radius: 15px;
  color: #000;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
.back-to-homepage:hover {
  color: #fff;
  background: #256e8b;
}
.sidebar .menu:first-child {
  margin-top: 10px;
}
.sidebar .menu .menu-item {
  border-top: 1px dotted #000;
}

.user-Withdrawal {
  position: absolute;
  bottom: 5rem;
  text-align: center;
  width: 100%;
  color: rgb(214, 214, 214);
}
.user-Withdrawal:hover {
  text-decoration: underline;
  color: #fff;
}
