.UsersdBox {
  width: 100%;
  margin-top: 1rem;
}
.UsersBox3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 5px solid rgba(92, 106, 119, 0.109);
}
.UsersBox3 ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.UsersBox3 .UsersBox3_title {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem !important;
}

.UsersBox3 .UsersBox3_title li {
  flex: 1;
  width: 100%;
  height: 100px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #fff;
  cursor: pointer;
}

.UsersBox3_contents {
  width: 100%;
  height: auto;
}
.UsersBox3_contents li {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.UsersBox3_title li {
  flex-direction: column;
  margin: 1rem 0;
}
.UsersBox3_title li h3 {
  font-size: 2rem;
}

.userdetailP {
  font-size: 0.9rem !important;
  margin-bottom: 0 !important;
  font-weight: 500;
}
.userdetailA {
  color: #00a9ec;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem !important;
}
.form-box .ant-row {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.user-email-input {
  transition: height 0.5s ease-in;
  overflow: hidden;
}

.user-email-input.active {
  height: 42px;
}

.user-email-input.inactive {
  height: 0px;
}

.form-box .ant-row .label-bottom-text {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.form-box .ant-row .label-bottom-text:last-child {
  padding-bottom: 0;
}
.ant-form-item-control label {
  margin-left: 0.5rem;
}
.ant-form-item-control .label-bottom-text {
  margin-left: 0.5rem;
}
.ant-form-item-control p {
  margin-left: 1.5rem;
}
.user-save-button {
  display: flex;
  margin: 2.5rem auto;
}

.selectedBorder {
  transition: left 0.5s;
  border-bottom: 5px solid rgb(92, 106, 119);
  width: calc(25% - 1rem);
  position: absolute;
  bottom: 0;
  left: 0;
}

.excel-button-box {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}
.excel-button-box div button {
  width: 7rem;
  height: 35px;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  border: 1px solid rgb(189, 189, 189);
}
.excel-button-box div button:hover {
  border: 1px solid #0f96cc;
  color: #0f96cc;
}

.user-policies-container {
  border-top: 1px solid rgb(189, 189, 189);
  width: 90%;
  margin-left: 5%;
  transition: all 0.5s ease-out;
  height: 920px;
  overflow: auto;
}

.user-policies-container.disabled {
  height: 0;
}

.policy-active-button {
  padding: 0.3rem 1rem;
  height: 32px;
  background: #256e8b;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  transition: width 0.5s ease-out;
}

.policy-active-button.active {
  width: 100px;
}

.policy-active-button.inactive {
  width: 80px;
}

.user-policy-list {
  height: 32px;
  text-align: center;
  padding: 0px 12px;
}

.ant-form-item {
  margin-bottom: 0 !important;
}

.user-concept-title > h3 {
  padding-left: 12px;
}

.user-concept-title > h3,
.user-concept-title > p {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 300;
}

.user-concept-title.selected > h3,
.user-concept-title.selected > p {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
}

.user-detatil-button {
  height: 25px;
  background: #00a9ec;
  border: 1px solid #00a9ec;
  border: 0;
  outline: 0;
  color: #fff;
  width: 3rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.user-detatil-button:hover {
  background: #256e8b;
}
