.LogBox {
  width: 100%;
  margin-top: 1rem;
}
.LogBox .custom-table-box {
  width: 100%;
  overflow: hidden;
  padding: 1rem !important;
}

.policy-change-container {
  text-align: initial;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}
