.contents-container {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 64px;
}
.LogBox {
  width: 100%;
  margin-top: 1rem;
}
.LogBox tr td:nth-child(1) {
  display: none;
}
.LogBox tr td:nth-child(2) {
  display: none;
}
