.contents-container {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 64px;
}
.ApplicationsBox {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.ApplicationsBox button {
  color: #fff;
}
.cud Button {
  color: #000;
}
.cud {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 1.5rem;
}
.ApplicationsBox .ApplicationsSave {
  margin-top: 2rem;
  color: #fff;
}
.ApplicationsBox table button {
  margin-top: 0rem;
}

.ApplicationsBox .inputBox button {
  margin-left: 1rem;
  margin-top: 0;
}

.ApplicationsTitle {
  width: 100%;
  margin-bottom: 2rem;
}
.ApplicationsTitle h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(83, 83, 83);
  margin-bottom: 0rem;
}
.ApplicationsTitle p {
  font-size: 1rem;
  color: rgb(83, 83, 83);
}
.ApplicationsTitle span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ApplicationsBox .inputBox .select {
  background-color: #829194;
  border: 0;
  border-radius: 5px;
}

.inputBox.hasExistCheck > div:nth-child(2) {
  display: inline-block;
}

.inputBox > .ant-form-item-control > .ant-form-item-explain {
  margin-left: 24px;
}

/* ------------- */
.ApplicationsBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}
.ApplicationsBox .ApplicationForm {
  display: flex;
  flex-direction: column;
}
.Application-label-input-box {
  width: 100%;
  margin-bottom: 2rem;
}
.ApplicationForm .Application-label-input-box label {
  width: 12rem;
  float: left;
  height: 2.5rem;
  line-height: 2.5rem;
}
.ApplicationForm .Application-label-input-box input {
  width: 65%;
  float: left;
  text-align: left;
  height: 2.5rem;
  padding: 0 1rem;
}

.ApplicationsBox .ApplicationForm button {
  margin-left: 1rem;
}
.ApplicationForm .selectButton {
  padding: 0.5rem 1.7rem;
  margin-left: 1rem;
  border: 0;
  border-radius: 5px;
}
.ApplicationForm .selectButton:disabled {
  background-color: #829194;
  cursor: default;
}
.ApplicationForm .Application-label-input-box label.label-radio {
  width: 6rem;
  margin-left: 0.5rem;
}
.Application-Save-button {
  width: 7rem;
  margin-left: 0;
  margin-top: 2rem;
}

.secretKey-container {
  width: 65%;
  height: 100%;
  display: inline;
  float: left;
  position: relative;
}

.ApplicationForm .Application-label-input-box .secretKey-container input {
  width: 100%;
  padding-right: 60px;
  border: none;
  cursor: default;
  background-color: rgba(161, 161, 161, 0.3);
}

.copyButton-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  right: -10px;
  font-size: 0.8rem;
}

.ApplicationsBox .ApplicationForm button.copyButton {
  margin-left: 0;
  padding: 2px 8px;
  color: #00a9ec;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #00a9ec;
  background: #fff;
}
.ApplicationsBox .ApplicationForm button.copyButton:hover {
  background: #256e8b;
  outline: none !important;
  color: #fff;
  border: 1px solid #256e8b;
}
