.contents-container {
  margin: 0 auto;
  width: 1200px;
  padding: 20px 64px;
}
.ApplicationsBox {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.ApplicationsBox button {
  color: #fff !important;
}
.cud Button {
  color: #000 !important;
}
.cud {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 1.5rem;
}
.ApplicationsBox .ApplicationsSave {
  margin-top: 2rem;
  color: #fff !important;
}
.ApplicationsBox table button {
  margin-top: 0rem;
}

.ApplicationsBox .inputBox button {
  margin-left: 1rem;
  margin-top: 0;
}

.ApplicationsTitle {
  width: 100%;
  margin-bottom: 2rem;
}
.ApplicationsTitle h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(83, 83, 83);
  margin-bottom: 0rem;
}
.ApplicationsTitle p {
  font-size: 1rem;
  color: rgb(83, 83, 83);
}
.ApplicationsTitle span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ApplicationsBox .inputBox .select {
  background-color: #829194 !important;
  border: 0;
  border-radius: 5px;
}

.inputBox.hasExistCheck > div:nth-child(2) {
  display: inline-block;
}

.inputBox > .ant-form-item-control > .ant-form-item-explain {
  margin-left: 24px;
}

/* ------------- */
.ApplicationsBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}
.ApplicationsBox .ApplicationForm {
  display: flex;
  flex-direction: column;
}
.Application-label-input-box {
  width: 100%;
  margin-bottom: 2rem;
}
.ApplicationForm .Application-label-input-box label {
  width: 12rem;
  float: left;
  height: 2.5rem;
  line-height: 2.5rem;
}
.ApplicationForm .Application-label-input-box input {
  width: 65%;
  float: left;
  text-align: left;
  height: 2.5rem;
  padding: 0 1rem;
}

.ApplicationsBox .ApplicationForm button {
  margin-left: 1rem;
}
.selectButton {
  margin-left: 1rem;
  background-color: #00a9ec;
  border: 0;
  border-radius: 5px;
}
.selectButton:disabled {
  background-color: #829194;
}
.label-radio {
  width: 6rem !important;
  margin-left: 0.5rem;
}