.custom-modal-button-container {
  display: flex;
  justify-content: center;
}

.custom-modal-button-container button {
  width: 7rem;
  height: 35px;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  border: 1px solid rgb(189, 189, 189);
}
.custom-modal-button-container button:first-child {
  background: #00a9ec;
  color: #fff;
  margin-right: 1rem;
}
.custom-modal-button-container button:last-child {
  border: 1px solid #00a9ec;
  color: #00a9ec;
}
.custom-modal-button-container button:hover {
  background: #256e8b;
  color: #fff;
}
