.AdminBox {
  width: 100%;
  margin-bottom: 2rem;
}
.AdminBox .adminAdd {
  width: 100%;
  height: auto;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 2rem;
}
.AdminBox .adminAdd p {
  margin-right: 1rem;
}
.AdminBox .select {
  color: #fff;
  margin-left: 1rem;
}

/* ------------------- */
.AdminBox form {
  width: 100%;
  height: auto;
}

.AdminBox form .inputBox {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: center;
}
.AdminBox form .inputBox2 {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: center;
}
.AdminBox form .inputBox2 span {
  width: 15rem;
}
.AdminBox form .inputBox2 .phoneBox {
  width: 100%;
  margin-left: 2.5rem;
}
.AdminBox .adminAdd p {
  margin-bottom: 0;
}
.AdminBox form .inputBox span {
  width: 15rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
.AdminBox form .inputBox input {
  width: 30rem;
  height: 3rem;
  padding: 0 0 0 0.5rem;
  margin-left: 1rem;
}
.react-tel-input .country-list {
  width: 31rem;
}
div.react-tel-input {
  width: 30.8rem;
  margin-left: 1.5rem;
  display: inline-block;
  height: 3.2rem;
}
.react-tel-input > input.form-control {
  width: 100%;
  height: 3.2rem;
}
.AdminBox form .checkBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}
.AdminBox form .checkBox span {
  width: 14rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
.AdminBox form .checkBox div span {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
}
.AdminBox form .checkBox div p {
  margin-left: 1rem;
}
.AdminBox form .checkBox span input {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.AdminBox form .checkBox div button {
  margin-top: 2rem;
  margin-left: 1rem;
  color: #fff;
}
/* --------------------*/
.updateInfo {
  margin-left: 1rem;
}
.adminAddButton {
  text-align: center;
  margin-bottom: 2rem;
}
.adminUpdateButton {
  margin-top: 2rem;
  margin-right: 1rem;
}

.two-Auth-button {
  margin-left: 1rem;
  background: rgb(1, 141, 255);
}

.admin-button {
  width: 11rem;
  height: 45px;
  padding: 0;
  line-height: 1.05rem;
}
.checkBox p {
  margin-bottom: 0;
}

.admin-delete-confirm-container {
  flex-direction: column;
}

.warning-delete p:first-child {
  color: red;
  font-weight: bold;
  padding: 0.3rem;
  width: 5rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
}

.AdminBox form .inputBox input.timezone-radio {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  cursor: pointer;
}

.AdminBox form .inputBox label.timezone-label {
  cursor: pointer;
}