.PoliciesBox {
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}
.PoliciesBox button {
  color: #fff;
}
.PoliciesBox table {
  margin-top: 2rem;
  /* width: 100%; */
  /* margin: 0 auto; */
  margin-bottom: 5rem;
}
.PoliciesBox table tr {
  width: 100%;
  height: 60px;
}

.global-policy-table-container thead th:nth-child(2),
.global-policy-table-container thead th:nth-child(3),
.global-policy-table-container tbody td:nth-child(2),
.global-policy-table-container tbody td:nth-child(3) {
  text-align: left;
}

.PoliciesTitleBox {
  width: 100%;
  border-top: 1px solid gray !important;
  padding-top: 1rem;
}
.PoliciesBox button {
  margin-top: 1rem;
}
.PoliciesBottomBox {
  width: 100%;
  margin-bottom: 3rem;
}
.policies-h5 {
  font-size: 1.5rem !important;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.ant-drawer-mask {
  background: rgba(0, 0, 0, 0.671);
}
.PoliciesBottomBox th {
  width: 16.5%;
}

.PoliciesBox th {
  width: 16.5%;
  text-align: center !important;
}
.PoliciesBox table td {
  text-align: center !important;
}
