.policies-box {
  width: 100% !important;
  /* border-bottom: 1px solid rgb(180, 180, 180); */
  padding: 1rem 2rem;
}
.policies-box h2 {
  font-weight: bold;
}
.policies-box .policies-sub-box {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.policies-box .policies-sub-box label {
  font-weight: bold;
  font-size: 1rem;
}
.policies-box .policies-sub-box input {
  margin-right: 0.5rem;
}
.policies-box .policies-sub-box p {
  margin-left: 1.5rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.policies-box .policies-sub-box h3 {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.title-input {
  width: 60%;
}

.user-location-input,
.title-input {
  height: 50px;
  border: 1px solid #bfc4c7;
  background: none;
  padding-left: 0.8rem;
}

.user-location-select {
  width: 30%;
  height: 50px;
}

.user-location-select:first-child {
  margin-right: 1rem;
}

.policies-box .policies-sub-box select {
}
.policies-sub-box h4 {
  font-weight: bold;
  margin: 2rem 0;
}
.authorized-networks p {
  margin-left: 0;
}
.authorized-networks .policies-sub-box .no-left-box {
  margin-left: 0;
  padding-left: 0;
}
.policy-default-button {
  background: none;
  border: 1px solid #bfc4c7;
  outline: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  float: right;
}
.policy-default-button:hover {
  border-color: #00a9ec;
  color: #00a9ec;
}
.close-button {
  background: none;
  border: 1px solid #00a9ec;
  color: #00a9ec;
}
.close-button:hover {
  color: #fff;
}
.del-button {
  background: #f56464;
  color: #fff;
  border: 1px solid #f56464;
}

.user-location-input-container select {
  margin-bottom: 8px;
  text-align: center;
}