.PoliciesBox {
  width: 100%;
  margin-top: 1rem;
  text-align: left;
}
.PoliciesBox button {
  color: #fff;
}
.PoliciesBox table {
  margin-top: 2rem;
  /* width: 100%; */
  /* margin: 0 auto; */
  margin-bottom: 5rem;
}
.PoliciesBox table tr {
  width: 100%;
  height: 60px;
}

.global-policy-table-container thead th:nth-child(2), .global-policy-table-container thead th:nth-child(3),
.global-policy-table-container tbody td:nth-child(2), .global-policy-table-container tbody td:nth-child(3) {
  text-align: left;
}

.PoliciesTitleBox {
  width: 25rem;
}
.PoliciesBox button {
  margin-top: 1rem;
}
.PoliciesBottomBox {
  width: 100%;
  margin-bottom: 3rem;
}
.PoliciesBottomBox h5 {
  font-size: 1.5rem;
  margin: 0;
}

.PoliciesBox table tbody tr:hover {
  /* background: none !important; */
}

.ant-drawer-mask {
  background: rgba(0, 0, 0, 0.671);
}
